@import url('https://fonts.googleapis.com/css?family=Arimo');

body {
    font-family: 'Arimo', sans-serif;
}

.nav-wrapper,
.page-footer {
    background-color: #225E82;
}

.parallax-container {
    height: 550px;
}

.container {
    width: 90%;
}

/* portrait styling */
#portraitArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

#portrait {
    max-width: 80%;
    height: auto;
}

#typedArea {
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    padding-left: 10%;
    padding-top: 7%;
}

/* contact icons 3D effects */
#contactInfoList {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
}

.contactInfoListItem {
    position: relative;
    list-style: none;
    margin: 20px;
    height: 40px;
    width: 40px;
    transform: rotate(-30deg) skew(25deg);
}

.listSpan {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #73AACC;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 28px;
}

.contactInfoListItem:hover
.listSpan {
    box-shadow: -1px 1px 1px rgba(0,0,0,.1)
}

.contactInfoListItem:hover
.listSpan:nth-child(5) {
    transform: translate(20px, -20px);
    opacity: 1;
}

.contactInfoListItem:hover
.listSpan:nth-child(4) {
    transform: translate(15px, -15px);
    opacity: .8;
}

.contactInfoListItem:hover
.listSpan:nth-child(3) {
    transform: translate(10px, -10px);
    opacity: .6;
}

.contactInfoListItem:hover
.listSpan:nth-child(2) {
    transform: translate(5px, -5px);
    opacity: .4;
}

.contactInfoListItem:hover
.listSpan:nth-child(1) {
    transform: translate(0, 0);
    opacity: .2;
}

/* card styling */
.card-content {
    color: gray;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin-right: 10px;
    color: #73AACC;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #3D405C;
}

/* icons styling */
.systemIcons {
    display: block;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}

.skillsIconText {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 50px;
}

.contactIcon {
    font-size: 24px;
    margin-right: 10px;
    color: #73AACC;
}

/* resume page */
#resume {
    margin-top: 2%;
    width: 80%;
}

#main {
    background-color: #fff;
    padding: 0 2%;
    z-index: 1000000;
}

#contact {
    background-color: #fff;

}

.pin-top {
    position: relative;
  }

.pin-bottom {
    position: relative;
}

.pinned {
    position: fixed !important;
    /* z-index: -1000; */
    width: 20%;
    padding-right: 2%
}

#resumePortrait {
    width: 100%;
    height: auto;
}

#name {
    margin-top: 0;
}

h6 {
    line-height: 1.5em;
    margin: 0;
}

.resumeSectionHead {
    text-align: center;
}

hr {
    width: 75%;
}

a {
    color: #73AACC;
}

.collapsible-body {
    background-color: rgb(230, 230, 230);
}

/* better readablity on small screen */
@media only screen and (min-width: 1024px) {
    .smShowContact {
        display: none;
    }
    .lgShowContact {
        display: inline-block;
    }
}

@media only screen and (max-width: 1024px) {
    #resume {
        width: 95%;
    }
    .pinned {
        width: 23%;
    }
    .smShowContact {
        display: inline-block;
    }
    .lgShowContact {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    #portrait {
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 414px) {
    .pinned,
    .pin-bottom {
        display: none;
    }
}

@media only screen and (max-width: 360px) {
    nav .brand-logo {
        left: 30%;
    }
    #portrait {
        max-width: 90%;
        height: auto;
    }
    #typedArea {
        padding-left: 5%;
        padding-top: 0%;
    }
}

