body {
    background-image: url("../images/mountainBackground.jpg");
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper,
.page-footer {
    background-color: #7F5D53;
}

.page-footer {
    margin-top: 40px;
}

.container {
    width: 90%;
}

#portfolioSection,
#skillsSection,
.sectionHeader {
    background-color: rgba(255,255,255,0.4);
}

.sectionHeader {
    margin-bottom: 0;
    margin-top: 40px;
}

/* portrait styling */
#portraitArea {
    background-color: rgba(255,255,255,0.3);
    margin-top: 50px;
    padding: 12px 12px 6px 12px;
}

#portrait {
    max-width: 100%;
    height: auto;
}

/* swiper styling */
#swiper {
    margin-top: 30px;
    margin-bottom: 80px;
}

.swiper-container {
    width: 80%;
    height: 330px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.swiper-slide {
    background-color: rgba(255,255,255,0.3);
}

.sliderTitle {
    padding-top: 4%;
    text-align: center;
    color: gray;
}

.sliderText {
    padding: 50px 50px 30px 50px;
    text-align: center;
    color: gray;
}

.sliderTrigger {
    margin-right: 15%;
    color: #85A3A0;
}

.swiper-button-next{
    background-image: url("../images//icons/tealArrowRight.png");
}

.swiper-button-prev {
    background-image: url("../images/icons//tealArrowLeft.png");
}

 .swiper-pagination-bullet-active-main {
    background-color: #85A3A0;
}

/* card styling */
.card-content {
    color: gray;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin-right: 10px;
    color: #FFA772;
}

/* icons styling */
.systemIcons {
    display: block;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}

.skillsIconText {
    text-align: center;
    margin-top: 1px;
}

.contactIcon {
    font-size: 24px;
    margin-right: 10px;
    color: #85A3A0;
}

/* Adjust slider area for better readablity on small screen */
@media only screen and (max-width: 992px) {
    .sliderTitle {
        color: white;
    }

    .sliderText {
        color: white;
        padding: 50px 50px 20px 50px;
    }
    .sliderTrigger {
        color: teal;
    }
}

